.img-contacto{
    width: 100%;
    max-height: 10%;
}
.logo-contacto {
    width: 20%;
}
#contacto{
    h2{
        color: $color-negro; 
    }
    p {
        font-size: 1.5rem;
    }
    i {
        font-size: 3rem;
    }
    .btn {
        background-color: $color-contacto;
        border: solid 1.6px;
        border-color:$color-blanco;
        font-size: 1.6rem;
        padding: 10px;
        margin:10px;
    }
}
//MOBILE
@media (max-width: 768px) {
    #contacto{
        p {
            font-size: 1rem;
        }
        .btn {
            background-color: $color-contacto;
            border: solid 1.6px;
            border-color:$color-blanco;
            font-size: 1rem;
        }
        i {
            font-size: 2rem!important;
        }
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    #contacto{
        p {
            font-size: 1.4rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .form-outline {
            margin-bottom: 0px!important;
        }
        .form-check{
            padding-top: 1rem!important;
        }
        i {
            font-size: 2rem!important;
            padding-bottom: 0px!important;
        }
        .btn {
            margin: 0px 0px 0px 0px!important;
        }
        .check {
            padding: 2rem!important;
        }
    }
}