.navbar {
    width: 100%;
    top: 0%;
    position: -webkit-sticky!important; 
    position: sticky!important;
    z-index: 9999;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.171);
    background-color: $color-blanco!important;
    font-family: 'Playfair Display', serif!important;
    img {
        width: 30%;
    }
    a {
        font-size: 1.5rem;
        text-transform: uppercase;
        color:$color-negro!important;
        &:hover {
            color:$color-hover!important;
            }
    }
}

