@import 'variables';
@import 'menu';
@import 'footer';
@import 'contacto';
@import 'texto';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
//INDEX TEXTO HEADER
.slideshow-item-text {
    max-width: 100%;
    position: absolute;
    top: 80%;
    right: 0%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
    padding: 1.5rem 1rem!important;
    h2{
        text-transform: uppercase;
        margin-bottom: 0.5rem;
    }
    p {
            font-size: 1.7rem;
            margin-bottom: 0.5rem;
    }
}
//INDEX-CARROUSEL LOOKBOOK
.carrousel-lookbook {
    padding-left: 0!important;
    padding-right: 0!important;
    padding-bottom: 0!important;
    padding-top: 0!important;
}

.slideshow-item-text {
    max-width: 100%;
    position: absolute;
    top: 90%;
    right: 0%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
    padding: 1.5rem 1rem!important;
    h2{
        text-transform: uppercase;
        margin-bottom: 0.5rem;
    }
    p {
            font-size: 1.7rem;
            margin-bottom: 0.5rem;
    }
}
.btn {
    background-color: $color-negro;
    border: none;
    font-weight: 400;
    a {
        text-decoration: none;
        color: #ffffff!important;
    }
    &:hover{
    background-color: $color-hover;
    }
}
.image-team {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    display: block;
    position: relative;
    transition:all .9s ease;
  }.image-team:hover {
    transform: perspective(400px) translateZ(-100px);
  //  transform: scale(1.1);
    opacity: 9;
  }
  .card-text{
    font-size: 1.4rem;
    
}
  .team {
    border: none!important;
  }

.mision-text {
        h3 {
            margin-bottom: 30px;
        }
        p{
            font-size: 1.2rem;
        }
}
.tarjeta{
    padding-bottom: 30px;
    padding-top: 30px;
}
@media (max-width: 768px) {
    .mision-text {
        h3 {
            margin-bottom: 30px;
            font-size: 2.3rem;
        }
        p{
            font-size: 1.4rem;
            margin-bottom: 20px!important;
        }
}
}
@media (min-width: 992px) and (max-width: 1600px) {
    .mision-text {
        h3 {
            margin-bottom: 30px;
            font-size: 2.5rem;
        }
        p{
            font-size: 1.6rem;
        }
}
}
